# Updated using pur -r requirements.txt
wheel==0.46.3
PyYAML==6.0.3
pycurl==7.45.7
chardet==7.4.0.post2
requests[use_chardet_on_py3]==2.33.1
Markdown==3.10.2
icoextract==0.2.0
patool==4.0.4
pathvalidate==3.3.1
FVS==0.3.4
orjson==3.11.8
pycairo==1.29.0
PyGObject==3.56.2
charset-normalizer==3.4.7
idna==3.11
urllib3==2.6.3
certifi==2026.2.25
pefile==2024.8.26
